.red {
  color: red;
}

.yellow {
  color: yellow;
}

.plant-container {
  position: static;
}

.img-encyclo-list {
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.img-encyclo {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.section2{
  position:relative;
  background-color: #f1faea;
  width: 100%;
  top: -80px;
  border-radius: 20px 20px 20px 20px;
  z-index: 2;
}

#body-plant{
  position: relative;
}

.plant-name{
  color: #1C231F;
}

.plant-latin-name{
  color:#759A72 ;
}

.plant-carousel{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.plant-carousel > a > img {
  border-radius: 50px 50px 50px 50px;
  object-fit: cover;
  height: 200px;
  width: 200px;
  transition: all 0.25s ease-out;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
  
}

/* .plant-carousel > img:hover {
  transform: scale(2.8);
  object-fit: contain;
  border-radius: 2px;
} */

.plant-desc{
  margin-top: 20px;
  text-align: justify;
  font-size: 1.2rem; 
}

.plant-family{
  background-color: #DAEDD4; 
  border-radius: 20px 20px 20px 20px;
  margin-top: 30px; 
  margin-bottom: 30px;
  padding: 30px;
}

.plant-family > ul{
  color: #1C231F; 
}

.plant-family > ul > li{ 
  padding-top: 35px;
  padding-right: 30px;
}

.plant-family > ul > li > span{
  font-size: 1.1rem; 
  font-weight: bold;
  display: inline;
}

.plant-tags{
  margin-top: 30px;
  display: flex;
  justify-content: center; 
}

.plant-needs{
  margin-top: 30px;
}

.tab-content{
  border-left: 1px solid #cccecb;
  border-bottom: 1px solid #cccecb;
  border-right: 1px solid #cccecb;
  background-color:#FFFFFF ;
  padding: 20px;
}

.favorite-heart-button{
  position: absolute; 
  top: 60px;
  right: 15px;
}

#snap-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-snap {
  background-color: #DAEDD4; 
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 60px;  
  padding: 40px;
}

.info-snap{
  text-align: justify;
}

.go-snap{
  text-align: center;
}

.modal-header{
  background-color:#198754;
  color: #FFFFFF;
}

.modal-body{
  display: flex;
  justify-content: center;
  gap:10% ;
}

#flash-message{
  display: flex;
  justify-content: center;
}

.BG-403 {
  background: url(../image/403.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.BG-404{
  background: url(../image/404.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.BG-404 > a{
  color: white;
  position: absolute;
  left: 48%;
  top: 70%;
  font-size: 50px;
  text-decoration: none;  
}

.BG-404 > a:hover {
  color: white;
  text-shadow: 0 0 5px #fff,
               0 0 25px #fff,
               0 0 50px #f9faf9,
               0 0 100px #f3f3f3;
}
.BG-403 > a{
  color: #69d836;
  position: absolute;
  left: 45%;
  top: 85%;
  font-size: 50px;
  text-decoration: none;  
}
      
.BG-403 > a:hover {
  color:#99FF69;
text-shadow: 0 0 5px #49A320,
               0 0 25px #49A320,
               0 0 50px #49A320,
               0 0 100px #49A320;
}

#note {
  display: none;
}

