{% extends "base.html.twig" %}
{% block title %}Contact Us{% endblock %}

{% block body %}

<h2>Contactez nous !</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ea impedit odio laudantium modi alias necessitatibus commodi, dolorem pariatur neque consectetur mollitia, delectus quo recusandae quis numquam cum minima dolore minus fugiat unde aliquid expedita natus sit. Tenetur, laborum vel? Nesciunt culpa tempore delectus officia quo mollitia, iure consequuntur suscipit.</p>

{% endblock %}